:root {
  --widthOfContent: 90%;
}

body{
  background-color: #00ccff;
}

nav{
  display: block; 
  margin-left: auto;
  margin-right: auto;
  width: var(--widthOfContent);
  margin-top: 20px;
  margin-bottom: 20px;
  height: 50px;
  background-color: #ffff00;
  border-radius: 20px;
}

iframe{
  display: block; 
  margin-left: auto;
  margin-right: auto;
  width: calc(var(--widthOfContent) - 20px);
  margin-top: 20px;
  margin-bottom: 20px;
  height: calc(100vh - 400px);
  border: 10px solid black;
  border-radius: 20px;
  background-color: black;
}

#title{
  float:right;
  display: block;
  margin-top: 100px;
  margin-left: 10px;
  margin-right: auto;
  width: calc(90% - 10px);
  height: 100%;
}

#logo{
  float: left;
  display: block;
  margin-top: 100px;
  margin-left: auto;
  margin-right: 10px;
  width: calc(10% - 10px);
  height: 100%
}

#container{
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  width: var(--widthOfContent);
}

#divIP{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: var(--widthOfContent);
  height: 50px;
}

#ip{
  float: right;
}