:root {
  --widthOfContent: 90%;
  --transitionTime: 0.2s;
}

body{
  background-color: #00ccff;
}

nav{
  display: block; 
  margin-left: auto;
  margin-right: auto;
  width: var(--widthOfContent);
  margin-top: 20px;
  margin-bottom: 20px;
  height: 50px;
  background-color: #ffff00;
  border-radius: 20px;
}

iframe{
  display: block; 
  margin-left: auto;
  margin-right: auto;
  width: calc(var(--widthOfContent) - 20px);
  margin-top: 20px;
  margin-bottom: 20px;
  height: calc(100vh - 400px);
  border: 10px solid black;
  border-radius: 20px;
  background-color: black;
}

footer{
  margin: auto;
  margin-top: 1em;
  text-align: center;
}

footer>a{
  color: black;
}

#title{
  float:right;
  display: block;
  margin-top: 100px;
  margin-left: 10px;
  margin-right: auto;
  width: calc(90% - 10px);
  height: 100%;
}

#logo{
  float: left;
  display: block;
  margin-top: 100px;
  margin-left: auto;
  margin-right: 10px;
  width: calc(10% - 10px);
  height: 100%
}

#container{
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  width: var(--widthOfContent);
}

#divIP{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: var(--widthOfContent);
  height: 50px;
}

#ip{
  float: right;
  font-family: Comic Sans MS;
}

#navButton{
  width: 100%;
  height: 100%;
  border-radius: 10px;
  font-size: 100%;
  font-family: Comic Sans MS;
  background-color: #ffff00;
  border: 2px solid black;
  transition: background-color var(--transitionTime);
}

#buttonContainer{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: calc(100% - 10px);
  height: 100%;
  margin-left: 5px;
  margin-right: 5px;
}

#navButton:hover{
  cursor: pointer;
}

#navButton:active{
  background-color: #000000;
  color:#ffff00;
}

#navAnchor{
  width: calc(100% - 10px);
  height: 30px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 5px;
  margin-right: 5px;
  border-radius: 10px;
  transition: width var(--transitionTime) ease-in-out, height var(--transitionTime) ease-in-out, margin-top var(--transitionTime) ease-in-out, margin-bottom var(--transitionTime) ease-in-out, margin-left var(--transitionTime) ease-in-out, margin-right var(--transitionTime) ease-in-out;
}

#navAnchor:hover{
  margin-top: 5px;
  margin-bottom: 5px;
  margin-right: calc(5px / 2);
  margin-left: calc(5px / 2);
  width: calc(100% - 5px);
  height: 40px;
}